* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: black;
    color: white;
}

.center { 
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.center img {
    width:100%;
}

#border-style-ridge { 
    border: 20px red;
}
  



/* .width {
    width: 500px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
/* }
.paragraph-padding {
    max-width: 600px;
    margin-left: auto;
    margin-right:auto;
} */ */






