@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Funnel+Display:wght@300..800&family=Pirata+One&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: orangered;

}

#single-column {
    max-width: 2000px;
    text-align: center;
}

#card-container {
    display: flex;
    justify-content: center;
}

#card-container .card img {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    padding: 15px;
    border: 1px solid black;
}

.card {
    padding: 36px;
    text-align: center;
    margin: 36px 0px;
}

#single-column a {
    display: inline;
    color: white;
    text-decoration: none;
    border: 2px solid blue;
    background-color: blue;
    border-radius: 20px;
    padding: 15px;
    margin: 30px;

}

h5 {
    padding-bottom: 30px;
    color: white;
}

h1 {
    color: white;
    font-size: 80px;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

h4 {
    font-family: "Bad Script", cursive;
    font-weight: 400;
    font-style: bold;
    color: white;
}
h6 {
    color: white;
    padding: 10px;
}
