* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: antiquewhite;
}

#hero {
    background-image: url(../Images/hero.jpg);
    background-size: cover;
    background-position: right center;
    height: 80vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10vw;
    box-shadow: 10px 10px 15px grey;
}
#navbar {
    background-color: antiquewhite;
    border-bottom: 5px solid black;
    display: flex;
    justify-content: center;
}

#logo {
    font-family: 
}

#navbar a {
    text-decoration: none;
    padding: 24px 48px;
    color: black;
}

#hero h1 {
    color: white;
    font-size: 8vh;

}

#hero a {
    color: black;
    text-decoration: none;
    background-color: antiquewhite;
    padding: 8px;
    border-radius: 10px;
    margin: 10px;
}

#single-column {
    max-width: 1200px;
    margin: 48px auto;
}

.grid-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 24px;
    gap: 18px;
}

.grid-gallery img {
    width: 100%;
    height: 100%;
    flex: 1;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 10px 10px 8px gray;    
}

#card-container {
    display: flex;
    gap: 60px;
    justify-content: center;
}

.card {
    border: 1px solid black;
    padding: 50px;
    text-align: center;
    margin: 68px 0px;
    background-color: antiquewhite;
    border-radius: 20px;
    box-shadow: 10px 10px 8px gray;
}

.card a {
    text-decoration: none;
    display: inline-block;
    color: white;
    border: 3px solid black;
    background-color: hsl(0, 0%, 3%);
    border-radius: 20px;
    padding: 10px;
}

.card img {
    height: 150px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 2px 2px 4px grey;
}
@media screen and ( max-width: 1000px) {
    #hero {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 900px) {
    #hero {
        background-size: 100% 800px;
        height: 50vh;
    }
}

@media screen and (max-width: 700px) {
    #hero {
        background-size: 100vh;
        height: 50vh;
    }
    #navbar {
        flex-direction: column;
        align-items: center;
    }
    #single-column h1 {
        font-size: 32px;
    }
    #card-container {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and ( max-width: 1000px) {
    .grid-gallery {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and ( max-width: 680px) {
    .grid-gallery {
        grid-template-columns: 1fr;
    }
}
